
# @see https://github.com/caiyongji/emoji-list

snippet emjsmile "emoji smile 😄"
😄
endsnippet

snippet emjcheck "emoji white_check_mark ✅"
✅
endsnippet


snippet emjx "emoji cross mark ❌"
❌
endsnippet

snippet emjcircle "emoji white_circle ⚪️"
⚪️
endsnippet

snippet emjsquare "emoji black_square_button 🔲"
🔲
endsnippet
